* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {

    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    /*remove scroll*/
}


header img {
    width: 50%;

}

header {
    position: fixed;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 50px;
    width: 90vw;
    z-index: 2;
    /*joga o fundo pra frente*/

}

header img {
    width: 1000px;
    /* aumenta a largura da logo */
    height: auto;
    /* mantém a proporção */
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 200px);


}

section {

    background-image: radial-gradient(#7f3d9e, #fd00c6);
    height: 100vh;
    position: relative;

}


.arrows button img {
    width: 100px;
}

.list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
}

section .list .item {
    position: absolute;
}

.list .itens {

    position: absolute;
    inset: 0;
}

.car-img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.car-img img {
    width: 100%;
    transform: rotate(-10deg);
    /* rotação só na imagem */
}

    .content {
        position: absolute;
        right: 100px;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        

    }
